//Colors
$bgcolor: #110a3c;
$cardBg: white;

//Paddings
$PS: 1rem;
$PM: 2rem;
$PL: 4rem;
$PXL: 8rem;

//Margins
$MS: 1rem;
$MM: 2rem;
$ML: 4rem;
$MXL: 8rem;

//Border radius
$BRS: 0.2rem;
$BRM: 0.4rem;
